body {
    background-image: url("cat-bg.jpg");
}

.petImage {
    width: 60%;
}

.card {
    max-width: 300px;
}

.bootstrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 40px
}
