body {
    background-image: url("cat-bg.jpg");
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formBG {
    width: 30%;
    margin: 30px 60px;
    background-image: url("pawBG.jpg");
    border: 5px ridge pink;
    border-radius: 2em;
}

form {
    padding: 20px;
    color: aqua;
    text-shadow: 0 0 4px black;
    font-size: 2em;
}

.form-label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.petImage {
    width: 60%;
}

.card {
    max-width: 300px;
    min-width: 33.33%;
}

.btn-wrapper {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 2%;
}

button {
    padding: 10px 60px;
    border: none;
    color: #FEFBEA;
    border-radius: 10%;
    box-shadow: 0 0 4px black;
    text-shadow: 0 0 7px black;
}

.btn-danger {
    width: 30%;
    align-self: end;
    background-color: lightgray;
    border: none;
    margin: 5px;
}

.btn-danger:hover {
    background-color: red;
}

#cats {
    background-color: #F2C6DE;
}

#dogs {
    background-color: #C6DEF1;
}

#dinos {
    background-color: #C9E4DE;
}

.bootstrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 5% 40px;
}

.image {
    width: 100%;
}
